#!/usr/bin/make -f

export LDFLAGS+=-Wl,--as-needed
export PREFIX=/usr

%:
	dh $@ -Smakefile

override_dh_auto_build:
	dh_auto_build -- gtk3

override_dh_auto_install:
	dh_auto_install
	rm debian/gmtp/usr/share/gconf/schemas/gmtp.schemas
	find debian/gmtp -type d -empty -delete
